<div fxLayout="row" fxLayoutAlign="center center" fxFill class="login-bg-img">
  <div fxLayout="column" class="loginBox">
    <mat-toolbar>
      <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
        <h2 class="primary-text-color">Fake Login</h2>
      </div>
    </mat-toolbar>
    <form name="loginForm">
      <mat-card fxLayout="column" class="login-container">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput type="email" [(ngModel)]="user.email" #email="ngModel" name="username" (keyup.enter)="login()"
            required email />
        </mat-form-field>
        <div *ngIf="email.touched">
          <mat-error *ngIf="email.errors?.['required']">Email is a required.</mat-error>
          <mat-error *ngIf="email.errors?.['email']">Please enter a valid email.</mat-error>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput required type="password" [(ngModel)]="user.password" #pass="ngModel" name="password"
            (keyup.enter)="login()" />
        </mat-form-field>
        <div *ngIf="pass.touched">
          <mat-error *ngIf="pass.errors?.['required']">Password is a required.</mat-error>
        </div>
        <mat-error *ngIf="isInactive">The user is not active.</mat-error>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button class="full-width" mat-raised-button color="primary" [disabled]="loginDisabled" (click)="login()">
            Login
          </button>
          <div flex="flex"></div>
        </div>
        <div class="m-t-16" fxLayoutAlign="center center">
          <p class="m-0">
            Don't have a account?
            <span class="cur-pointer accent-text-color" (click)="openRegistrationModal()">Register</span>
          </p>
        </div>
      </mat-card>
    </form>
  </div>
</div>
