<div *ngIf="isLoading" class="virtualizer-viewport" fxLayout="row" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</div>

<cdk-virtual-scroll-viewport *ngIf="!isLoading" [itemSize]="30" class="virtualizer-viewport"
  (scrolledIndexChange)="scrollhandler($event)">
  <div class="explore-items" *cdkVirtualFor="let item of tweets">

    <mat-card>
      <mat-card-header>
        <div class="full-width">
          <h1 class="m-b-0 text-bold">{{item.user.username}}</h1>
          <div class="full-width m-b-16" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-sm="column"
            fxLayoutAlign.lt-sm="start start">
            <p class="m-b-0">
              {{item.published | date}}
            </p>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-divider></mat-divider>
        <p class="m-t-16">
          {{item.content}}
        </p>
      </mat-card-content>
    </mat-card>

  </div>
</cdk-virtual-scroll-viewport>
