$spaceamounts: (0, 2, 4, 8, 10, 12, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40);
$opacityamounts: (10, 20, 30, 40, 50, 60, 70, 80, 90, 100);
$sides: (top, bottom, left, right, all);

@each $space in $spaceamounts {
  @each $side in $sides {
    @if $side == "all" {
      .m-#{$space} {
        margin: #{$space}px !important;
      }

      .p-#{$space} {
        padding: #{$space}px !important;
      }
    } @else {
      .m-#{str-slice($side, 0, 1)}-#{$space} {
        margin-#{$side}: #{$space}px !important;
      }

      .p-#{str-slice($side, 0, 1)}-#{$space} {
        padding-#{$side}: #{$space}px !important;
      }
    }
  }
}

@each $space in $spaceamounts {
  .font-size-#{$space} {
    font-size: #{$space}px !important;
  }
}

@each $opacity in $opacityamounts {
  .opacity-#{$opacity}-percent {
    opacity: #{$opacity/100} !important;
  }
}
